*,
*::before,
*::after {
	box-sizing: border-box;
	/* margin: 0;
	padding: 0; */
}
/* Podemos importar fuentes desde html:
<link href=“https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap” rel=“stylesheet”>
O desde CSS: */
/* @import url(‘https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap’); */

:root {
	--green-color: rgb(60, 187, 60);
	--white-color: white;
}
html,
body {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	font-family: 'Philosopher', sans-serif;
	padding-bottom: 30em;
}
nav {
	display: flex;
	background-color: var(--green-color);
	padding: 0px 10px;
	color: var(--white-color);
	justify-content: space-between;
	align-items: center;
}
.brand_image {
	color: black;
}
nav ul {
	display: flex;
}
nav li {
	padding-left: 100px;
	padding-right: 20px;
	list-style: none;
}
nav li a {
	color: black;
	text-decoration: none;
}
nav li a:hover {
	color: var(--white-color);
}
.form1 {
	padding: 20px;
	margin: 5px;
	border:5px solid var(--green-color);
}
.main_section {
	position: relative;
	left: 40%;
	z-index: 1;
}
footer {
	position: absolute;
	bottom: 5px;
	left: 30%;
}
.sombra {
	position: absolute;
	width: 100%;
	bottom: 10px;
	z-index: 0;
}
.form li {
	padding: 10px;
}
.stick {
	position: fixed;
	top: 0;
	left: 40%;
}
.data {
	padding: 20px;
	z-index: 1;
}