*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: gainsboro;
}
.contenedor {
	width: 90vw;
	height: 90vh;
	max-width: 1200px;
	margin: 10px 40px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "header header header"
						"contenido contenido sidebar"
						"contenido contenido sidebar";
}
.contenedor > * {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 50px;
}
.contenedor > header {
	background-color: darkslateblue;
	color: #ffffff;
	grid-area: header;
}
.contenedor .contenido {
	grid-area: contenido;
}
.contenedor .sidebar {
	background-color: lightcoral;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;

}

@media screen and (max-width: 800px) {
	body {
		background-color: rgb(223, 183, 83);
	}
	.contenedor {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas: "header header header"
		"contenido contenido contenido"
		"sidebar sidebar sidebar"
		"widget_1 widget_1 widget_1"
		"widget_2 widget_2 widget_2"
		"footer footer footer";
	}
}